<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Admin | E-Store</title>
</head>
<body>
	<section>

		<!-- Start Latest Product Module -->
		<div class="container p-5">
		<h3 class="m-4 text-center">Admin Dashboard</h3>
			<div class="row p-5">
				
				<div class="col-md-4 mt-3">
					<a href="/admin/category" class="text-decoration-none">
						<div class="card custom-card-shadow">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-layer-group fa-3x"></i>
								<h4 class="mt-1">Manage Category</h4> 
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-3">
					<a href="/admin/add-product" class="text-decoration-none">
						<div class="card custom-card-shadow">
							<div class="card-body text-center text-primary">
								<!-- <i class="fa-solid fa-square-plus fa-3x"></i> -->
								<!-- <i class="fa-brands fa-product-hunt fa-3x"></i> -->
								<i class="fa-brands fa-squarespace fa-3x"></i>
								<h4 class="mt-1">Manage Product</h4> 
							</div>
						</div>
					</a>
				</div>
				
				
				<div class="col-md-4 mt-3">
					<a href="/admin/product-list" class="text-decoration-none">
						<div class="card custom-card-shadow">
							<div class="card-body text-center text-primary">
								<!-- <i class="fa-solid fa-square-plus fa-3x"></i> -->
								<i class="fa-solid fa-cube fa-3x"></i>
								<h4 class="mt-1">View Product</h4> 
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-3">
					<a href="#" class="text-decoration-none">
						<div class="card custom-card-shadow">
							<div class="card-body text-center text-primary">
								<!-- <i class="fa-solid fa-square-plus fa-3x"></i> -->
								<i class="fa-solid fa-cubes fa-3x"></i>
								<h4 class="mt-1">Manage Orders</h4> 
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-3">
					<a href="/admin/get-all-users" class="text-decoration-none">
						<div class="card custom-card-shadow">
							<div class="card-body text-center text-primary">
								<!-- <i class="fa-solid fa-circle-user fa-3x"></i> -->
								<i class="fa-solid fa-user fa-3x"></i>
								<h4 class="mt-1">Manage User</h4> 
							</div>
						</div>
					</a>
				</div>
				
				<div class="col-md-4 mt-3">
					<a href="#" class="text-decoration-none">
						<div class="card custom-card-shadow">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-user-tie fa-3x"></i>
								<h4 class="mt-1">Manage Admin</h4> 
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
		<!-- End of the Latest Product Module -->
		
		
	</section>
</body>
</html>