<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container-fluid p-5">
			
			
			<div class="row">
				<div class="col-md-4">
					<a th:href="@{'/admin/add-product'}" class="btn btn-danger mb-3">Add Product</a>
				</div>
			</div>
			
			<div class="row">
				<!-- <div class="col-md-4">
					<div class="card custom-card-shadow">
						<div class="card-header text-center">
							<p class="fs-4">Add Category</p>
							<th:block th:if="${session.successMsg}">
								<p class="text-success fw-bold text-center mt-2">[[${session.successMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold text-center mt-2">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

						</div>

						
					</div>
				</div> -->

				<div class="col-md-12">
					<div class="card custom-card-shadow">
						<div class="card-header text-center fs-4">List of Products</div>

						<th:block th:if="${session.successMsg}">
							<p class="text-success fw-bold text-center mt-2">[[${session.successMsg}]]</p>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
						<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold text-center mt-2">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<div class="card-body">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">SL No.</th>
										<th scope="col">Image</th>
										<th scope="col">Title</th>
										<th scope="col">Category</th>
										<th scope="col">Price</th>
										<th scope="col">Discount</th>
										<th scope="col">Discount Price</th>
										<th scope="col">Status</th>
										<th scope="col">Stock</th>
										<th scope="col">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="product, count : ${productList}">
										<th scope="row">[[${count.count}]]</th>
										<td><img th:src="@{'/img/product_image/'+${product.productImage}}" width="50px;" height="50px;"></td>
										<td>[[${product.productTitle}]]</td>
										<td>[[${product.productCategory}]]</td>
										<td>[[${product.productPrice}]]</td>
										<td>[[${product.discount}]]</td>
										<td>[[${product.discountPrice}]]</td>
										<td>[[${product.isActive}]]</td>
										<td>[[${product.productStock}]]</td>
										<td>
										<!-- th:href="@{'/admin/edit-category/'+${category.id}}" -->  
										&nbsp; <a th:href="@{'/admin/edit-product/'+${product.id}}"  class="btn btn-info btn-sm"><i class="fa-solid fa-pen-to-square text-decoration-none"></i></a>&nbsp; &nbsp; 
										<a th:href="@{'/admin/delete-product/'+${product.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure want to delete this?');"><i class="fa-solid fa-trash text-decoration-none"></i></a>
										<!-- th:href="@{'/admin/delete-category/'+${category.id}}" -->
										</td>
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>