<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Category</title>
<!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script> -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
	<section>
		<div class="container-fluid p-5">
			<div class="row">
				
				<div class="col-md-4 offset-md-4" >
					<div class="card custom-card-shadow">
						<div class="card-header text-center">
							<p class="fs-4">Add Category</p>
							<th:block th:if="${session.successMsg}">
								<p class="text-success fw-bold text-center mt-2">[[${session.successMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold text-center mt-2">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

						</div>

						<div class="card-body">
							<form action="/admin/save-category" method="post" enctype="multipart/form-data">
								<div class="mb-3">
									<label>Category Name</label> <input type="text"
										name="categoryName" class="form-control">
								</div>

								<div class="mb-3">
									<label>Status</label>
									<div class="form-check">
										<input class="form-check-input" type="radio"
											name="isActive" id="active" value="true" checked> <label
											class="form-check-label" for="active">
											Active</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio"
											name="isActive" id="inactive" value="false" >
										<label class="form-check-label" for="inactive">
											Inactive</label>
									</div>
								</div>



								<div class="mb-3 col">
									<label>Upload Image</label> <input type="file"
										name="file" class="form-control">
								</div>

								<button class="btn btn-danger col-md-12">ADD</button>
							</form>
						</div>
					</div>
				</div>

				
			</div>
		</div>

		<script>
		 $(document).ready(function() {
		        $('#categoryTable').DataTable();
		    });
			
		</script>

	</section>




	<script src="https://code.jquery.com/jquery-3.7.1.min.js"
		integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
		crossorigin="anonymous"></script>
</body>
</html>